<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->

<mapper namespace="com.oidc.social.dao.CommentMapper">

    <sql id="commentColumns">
        CID
        , MID
		, UID
        , COMMENT
		, DELETEYN
		, INSERT_TIME
		, UPDATE_TIME
		, DELETE_TIME
    </sql>

    <select id = "getUid" parameterType="String" resultType="long">
        SELECT UID FROM USERINFO WHERE USERID=#{userId}
    </select>

    <insert id="insertComment" parameterType="CommentDto">
        INSERT INTO MOVIECOMMENT (
        <include refid="commentColumns" />
        ) VALUES (
        #{cid}
        , #{mid}
        , #{uid}
        , #{comment}
        , IFNULL(#{deleteYn}, 'N')
        , NOW()
        , NULL
        , NULL
        )
    </insert>

    <select id="selectCommentDetail" parameterType="long" resultType="CommentDto">
        SELECT
        <include refid="commentColumns" />
        FROM
        MOVIECOMMENT
        WHERE
        DELETEYN = 'N'
        AND
        CID = #{cid}
    </select>

    <update id="updateComment" parameterType="CommentDto">
        UPDATE MOVIECOMMENT
        SET
            UPDATE_TIME = NOW()
          , COMMENT = #{comment}
          , UID = #{uid}
        WHERE
            CID = #{cid}
    </update>

    <update id="deleteComment" parameterType="long">
        UPDATE MOVIECOMMENT
        SET
            DELETEYN = 'Y'
          , DELETE_TIME = NOW()
        WHERE
            CID = #{cid}
    </update>

    <select id="selectCommentList" parameterType="CommentDto" resultType="CommentDto">
        SELECT
        <include refid="commentColumns" />
        FROM
        MOVIECOMMENT
        WHERE
        DELETEYN = 'N'
        AND
        MID = #{mid}
        ORDER BY
        CID DESC,
        INSERT_TIME DESC
    </select>

    <select id="selectCommentTotalCount" parameterType="CommentDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            MOVIECOMMENT
        WHERE
            DELETEYN = 'N'
          AND
            MID = #{mid}
    </select>

</mapper>